

p{
	/*margin-left: 10%;
	margin-right: 10%;*/
	color:red;
	/*font-size: 30px;*/
	/*background-color: black;*/
}

.flotar {
	float: right;
	padding: 20px;
}

.colocar {
	clear: right;
}

li {
	color: blueviolet;
	display:inline;
	padding-right:20%;
}

hr {
	border-style: dotted;
}